{% extends 'base.html' %}

{% block content %}

<h2>Find an Actor</h2>
<p style="font-size:24;">Enter an actor's name and you will be given<br>
  all of the movies and TV shows that they have appeared in</p>

<form action="" method="post" novalidate>
     {{ form.hidden_tag() }}
<p>
  {{form.actorName.label}} <br>
  {{form.actorName(size=32)}}
  </p>
  <p>{{form.submit() }}</p>
  </form>


    <h3>You have searched for the following {{count}} actors: </h3>
    {% for actor in actorList %}
    <ul>
      <li style="font-size:18px">{{actor}}</li>
      </ul>
      {% endfor %}
    <link rel="stylesheet" href="/static/style.css">
  {% endblock %}
